[env]
_.path = ["./node_modules/.bin"]

[tools]
"aqua:nodejs/node" = "25.5.0"
hugo = "0.154.5"

[tasks."codegen:data"]
description = "Run update.sh"
run = "./update.sh"

[tasks."codegen:fmt"]
depends = ["fmt"]

[tasks."fmt:dprint"]
run = "dprint fmt"

[tasks."fmt"]
depends = ["fmt:*"]

[tasks.codegen]
description = "Generate all code"
depends = ["codegen:*"]
