[env]
_.path = ["./node_modules/.bin"]

[tools]
node = "25.4.0"
hugo = "0.154.5"
ruff = "0.9.6"

[tasks.install]
run = "npm install"

[tasks."lint:ruff"]
run = "ruff check ."

[tasks."lint:eslint"]
run = "eslint ."

[tasks."lint:prettier"]
run = "prettier . --check"

[tasks."lint:dprint"]
run = "dprint check"

[tasks.lint]
depends = ["lint:*"]

[tasks."fmt:ruff"]
run = ["ruff check --fix .", "ruff format ."]

[tasks."fmt:prettier"]
run = "prettier . --write"

[tasks."fmt:eslint"]
run = "eslint . --fix"
depends = ["fmt:prettier"]

[tasks."fmt:dprint"]
run = "dprint fmt"

[tasks.fmt]
depends = ["fmt:*"]

[tasks.test]
run = "echo 'No tests found'"

[tasks."codegen:data"]
description = "Run update.sh"
run = "./update.sh"

[tasks."codegen:fmt"]
depends = ["fmt"]

[tasks.codegen]
description = "Generate all code"
depends = ["codegen:*"]

[tasks.ci]
depends = ["lint", "test"]
