[tools]
"aqua:nodejs/node" = "25.3.0"
hugo = "0.154.5"

[tasks."codegen:data"]
description = "Run update.sh"
run = "./update.sh"

[tasks.codegen]
description = "Generate all code"
depends = ["codegen:*"]
