{{- define "content" -}}

<style>
  :root {
    --color-cell-size: 4.5em;
  }

  .theme-card-color-container p {
    background-color: initial;
  }
</style>
{{ partial "base16_style.html" . }}

<section>
  {{ .Content }}

  {{ range .Pages }}
  <div class="theme-card">
    <div class="theme-card-info-container">
      <a href="{{ .Permalink | absURL }}">
        <h2>{{ .Title }}</h2>
        <p>{{ .Params.author }}</p>
      </a>
    </div>
    <div class="theme-card-sample-container">
      {{ range .Params.colors }}
      <div class="theme-card-color-container" style="background-color: #{{ . }}">
        <p>#{{ . }}</p>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
</section>
{{- end -}}