name: Autorelease

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * 6"

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      pages: write
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: jdx/mise-action@v2

      - name: Install
        run: mise run install

      - name: Codegen
        run: mise run codegen

      - name: Create Pull Request if there is new stuff from updaters
        uses: peter-evans/create-pull-request@v7
        if: github.event_name != 'pull_request'
        id: pr_create
        with:
          commit-message: Updater script changes
          branch: updater-bot
          delete-branch: true
          title: "Updater: stuff changed"
          body: |
            Changes caused from update scripts
          reviewers: lucasew

      - name: Stop if a pull request was created
        if: github.event_name != 'pull_request'
        env:
          PR_NUMBER: ${{ steps.pr_create.outputs.pull-request-number }}
        run: |
          if [[ ! -z "$PR_NUMBER" ]]; then
            echo "The update scripts changed something and a PR was created. Giving up deploy." >> $GITHUB_STEP_SUMMARY
            exit 1
          fi

      - name: CI
        run: mise run ci

      - name: Build Hugo
        env:
          URL: https://lucasew.github.io
        run: hugo --minify --baseURL "$URL"

      - name: Upload static files as artifact
        if: github.event_name != 'pull_request'
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

      - name: Step summary
        if: github.event_name != 'pull_request'
        env:
          URL: https://lucasew.github.io
        run: |
          if [[ -z "$URL" ]]; then
            echo "Bad deployment url"
            exit 1
          fi
          printf "Deployed on: %s" "$URL" >> $GITHUB_STEP_SUMMARY

      - name: Deploy to GitHub Pages
        if: github.event_name != 'pull_request'
        uses: actions/deploy-pages@v4
