name: Autorelease

on:
  push:
    branches:
      - main # Set a branch to deploy
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * 6" # saturday 2am

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      pages: write
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0 # Fetch all history for .GitInfo and .Lastmod
      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3

      - name: Install dependencies
        run: mise run install

      - name: Run updaters
        run: mise run codegen

      - name: Create Pull Request if there is new stuff from updaters
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8
        if: github.event_name != 'pull_request'
        id: pr_create
        with:
          commit-message: Updater script changes
          branch: updater-bot
          delete-branch: true
          title: "Updater: stuff changed"
          body: |
            Changes caused from update scripts
          reviewers: lucasew

      - name: Run CI
        run: mise run ci
